<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Nodejs">
          <match url="/*" />
          <action type="Rewrite" url="server/index.js"/>
        </rule>
      </rules>
    </rewrite>

    <iisnode watchedFiles="web.config;*.js;server/*.js"/>

  </system.webServer>
</configuration>
